.MainContainer {
    height: 100vh;
}

#container {
    width: 200px;
    height: 200px;
    background-color: rgb(42, 161, 165);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 1s;

}
#container:hover {
    border-radius: 50px;
    transform: rotate(5deg);
}

.filha {
    width: 100px;
    height: 100px;
    background-color: rgb(18, 75, 77);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
}

.filha:hover {
    background-color: rgb(43, 226, 217);
    border-radius: 50%;
}