/* Reseta margens e preenchimento */
* {
    margin: 0px;
    padding: 0px;
}

/* Estiliza o cabeçalho */

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgb(88, 88, 87);
    color: rgb(255, 226, 187);
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.445);
    height: 140px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header h1 {
    font-size: 40px;
}

.menuSection {
    background-color: rgb(238, 238, 238);
    width: 500px;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 12%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.233);
    display: none;
    z-index: 200;
}

.close-cicle {
    color: rgb(196, 153, 98);
    position: absolute;
    top: 1.5%;
    left: 85%;
    font-size: 30px;
    cursor: pointer;
}

.close-cicle:hover {
    color: rgb(173, 135, 85);
}

/* Estiliza o menu hamburger */
.menu-hamburger {
    font-size: 40px;
    cursor: pointer;
    transition: 0.1s;
}

.menu-hamburger:hover {
    color: rgb(204, 194, 176);
}

/* Estiliza o container principal */
.maintain {
    position: relative;
    right: 20px;
    display: flex;
}

/* Container do campo de pesquisa */
.container-search {
    background-color: rgb(177, 162, 143);
    padding: 10px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    transition: width 0.5s ease; /* Transição suave */
    width: 40px; /* Largura inicial */
}

.container-search:hover {
    width: 240px; /* Largura expandida */
}

/* Estiliza o campo de pesquisa */
#text-search {
    background: none;
    outline: none;
    border: none;
    color: white;
    font-size: 16px;
    width: 0px; /* Largura inicial */
    transition: width 0.5s ease; /* Transição suave */
    opacity: 0; /* Inicialmente invisível */
}

.container-search:hover #text-search {
    width: 200px; /* Largura do campo de pesquisa */
    opacity: 1; /* Torna o campo visível */
}

/* Estiliza o link de pesquisa */
.cicle-search {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px; /* Ajuste da largura */
    height: 40px; /* Ajuste da altura */
    background-color: white;
    border-radius: 50%;
    transition: 0.5s;
}

.container-search:hover .cicle-search {
    width: 40px; /* Mantém a largura do ícone */
}

.overlaySection {
    background-color: rgba(0, 0, 0, 0.349);
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    z-index: 100;
}

.container-anuncio {
    width: 800px;
    height: 250px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    overflow: hidden;
    border-radius: 20px;
}

.anuncio {
    width: 100%;
    height: 100%;
    transition: 0.5s;

}

.anuncio:hover {
    transform: scale(1.1);
}

.container-content {
    max-width: 100%;
    height: 240px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.content {
    width: 250px;
    height: 200px;
    background-color: rgb(110, 85, 85);
    margin: 10px;
    border-radius: 20px;
}

.second-container-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contentBigger {
    width: 500px;
    height: 300px;
    background-color: rgb(175, 175, 175);
    margin: 10px;
    border-radius: 20px;
}

.s-content {
    width: 40%;
    height: 300px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.element-content {
    width: 90%;
    height: 130px;
    background-color: rgb(218, 218, 218);
    margin: 10px;
    border-radius: 20px;
}

@media screen and (max-width: 740px) {
    .container-content {
        flex-direction: column;
    }

    .second-container-content {
        flex-direction: column;
        justify-content: center;
    }

    .contentBigger {
        width: 750px;
        
    }

    .s-content {
        width: 800px;
    }
}